.time-input-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 50px;
}

.time-input-form {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.time-input-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

input[type="number"] {
  width: 180px;
  height: 26px;
  font-size: 20px;
  padding: 5px;
}

button {
  width: 150px;
  height: 40px;
  font-size: 20px;
  background-color: #4CAF50;
  color: white;
  margin: 10px;
  padding: 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.time-input-form .toggle-button {
  background-color: #1e3b7e;
}


.cancel-button {
  background-color: #f44336;
}

.shutdown-button {
  margin-left: 15px;
}

.message {
  margin-top: 20px;
}
